*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    width: 100%;
    height: 120px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    color: white;
}

main
{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

form
{
    width: 500px;
    background-color: #333;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form h1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    color: white;
    text-align: center;
}

form label
{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

form input, select, button
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
}

form button
{
    margin-top: 25px;
    cursor: pointer;
    background-color: #0035A8;
    color: white;
    font-weight: bold;
    transition: .3s ease-in-out;
}

form button:hover
{
    background-color: #002066;
}

.btnBack
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnBack button
{
    margin-top: 45px;
}

.tabela
{
    width: 900px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.tabela tr:nth-child(odd)
{
    background-color: #D1D1D1;
}

.tabela td, th
{
    padding: 5px 10px;
}

#mainIndex
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formBusca
{
    display: flex;
    background-color: white;
}

#formBusca label
{
    color: black;
}

#formBusca button
{
    margin: 0;
}

.divButtons
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.divButtons .btnEdit
{
    text-decoration: none;
    color:  blue;
    font-weight: bold;
}

.divButtons .btnDelete
{
    text-decoration: none;
    color: Red;
    font-weight: bold;
}

#menu ul
{
    width: 100%;
    list-style-type: none;
    display: flex;
    height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    gap: 30px;
    background-color: #555;
    align-items: center;
}

#menu a
{
    color: white;
    text-decoration: none;
}

.btnNewAgen
{
    padding: 5px 20px;
    background-color: #333;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}  

.TableRows
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}